<div style="margin:50px;">
  <div class="alert alert-info"><b>Angular 7 HTTP GET Data Using HTTP</b></div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
         <th>No</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees; index as i">
          <td>{{i+1}}</td>	
          <td>{{emp.p_name}}</td>
          <td>{{emp.p_description}}</td>
          <td>{{emp.p_price}}</td>
          <td>
            <a [routerLink]="['/edit/', emp.p_id]">
                  <button type="button" class="btn btn-info btn-sm">Edit</button>
                </a>
            <button class="btn btn-danger btn-sm" id="remove" (click)="deleteRow(emp.p_id)">Delete</button>
            
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
