<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Update User Details</h3>
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && editForm.controls.firstName.errors }" />
                        <div *ngIf="submitted && editForm.controls.firstName.errors" class="invalid-feedback">
                            <div *ngIf="editForm.controls.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && editForm.controls.lastName.errors }" />
                        <div *ngIf="submitted && editForm.controls.lastName.errors" class="invalid-feedback">
                            <div *ngIf="editForm.controls.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
					<div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && editForm.controls.email.errors }" />
                        <div *ngIf="submitted && editForm.controls.email.errors" class="invalid-feedback">
                            <div *ngIf="editForm.controls.email.errors.required">Email is required</div>
                            <div *ngIf="editForm.controls.email.errors.email">Email must be a valid email address</div>
                    	</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && editForm.controls.password.errors }" />
                        <div *ngIf="submitted && editForm.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="editForm.controls.password.errors.required">Password is required</div>
                            <div *ngIf="editForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <!-- <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div> -->

                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Update</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>